:root {
    --background-colour: black;
    --text-color: #fffffe;
    --theme-color: #e53170;
}

/* Prevent horizontal scrolling */
body, html {
    overflow-x: hidden;
}


/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-colour);
    color: var(--text-color);
    padding: 0 20px;
}

.header h1, h2 {
    margin-left: 20px;
}

.header h1 {
    color: var(--theme-color);
    margin-bottom: 10px;
}

.header h2 {
    margin-top: 10px;
}

/* Header links styles */
.header-links {
    display: flex;
}

.header-links ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-links li {
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

.header-links a {
    text-decoration: none;
    color: var(--text-color);
}

/* Link hover effect */
a:hover {
    color: var(--theme-color);
}


/* Main content styles */

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "about-section"
        "work-section"
        "contact-section";
    padding: 20px;
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fffffe;
    margin-top: 30px;
    
}

/* Hero banner styles */
.hero-banner img {
    width: 100vw;
    max-height: 400px; 
    object-fit: cover;
    margin-top: -1px;
}




/* Section title styles */

.about-title,
.work-title,
.contact-title {
    display: flex;
    justify-content: right;
    border-right: solid black 5px;
}

.about-title h2,
.work-title h2,
.contact-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8em;
    text-align: right;
    width: max-content;
    margin-left: 0;
    margin-right: 30px;
}


/* About section styles */

.about-section {
    grid-area: about-section;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: 
    "about-title about-text";
}

.about-title {
    grid-area: about-title;
}

.about-text {
    grid-area: about-text;
}

.about-text p {
    padding: 0 20px;
    line-height: 1.3rem;
    margin-top: 0;
}

/* Work section */

.work-section {
    grid-area: work-section;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: 
    "work-title project-container";
}

.work-title {
    grid-area: work-title;
}

.work-project-container {
    grid-area: project-container;
}


/* project styles */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(50%, auto) auto auto;
    grid-template-areas: 
    "main-project main-project"
    "project project"
    "project project";
    gap: 20px;
    padding: 3%;
    
}

.project-container article {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

#main-project {
    grid-area: main-project;
}

.project a img {
    max-width: 100%;  
    height: 100%; 
    object-fit: cover;
}

.project a {
    color: var(--text-color);    
}

.project {
    position: relative;
}

.project:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; 
    box-shadow: 0 0 30px black;
}

/* Project title styling - Work section */
.project-title {
    background-color: #0f0e1788;
    position: absolute;
    bottom: 10%;
    width: 100%;
    left: 0;
    border-bottom: var(--theme-color) solid 2px;
    border-top: var(--theme-color) solid 2px;
}

.project-title h3, p {
    margin: 5px 10px;
}


/* Contact section */

.contact-section {
    grid-area: contact-section;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "contact-title contact-links";
}

.contact-title {
    grid-area: contact-title;
    align-items: center;
}

/* Contact Links styles */
.contact-links {
    grid-area: contact-links;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.contact-links a {
    text-decoration: none;
    color: var(--theme-color);
    font-size: 1.2rem;
    font-weight: bold;
}


.contact-links li {
    list-style: none;
}

/* footer section */
footer {
    background-color: var(--background-colour);
    padding: 10px;
    color: white;
    text-align: center;
}


/* Media Queries */


/* Small devices (phones) */
@media only screen and (max-width: 772px) {

    body, html {
        font-size: 0.9rem;
        overflow-x: hidden;
    }

    .header {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        padding: 0;
    }

    .header-links {
        display: flex;
        justify-content: center;
    }

    .header-links a {
        margin: auto 10px;
        width: 100%;
        display: inline-block;
    }

    .hero-banner img {
        max-width: 100%;  
        height: 100%; 
        object-fit: cover;
        margin-top: -1px;
        margin-right: 0;
    }


    .main-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "about-section"
            "work-section"
            "contact-section";
        padding: 20px 2%;
        max-width: 100vw;
        gap: 30px;
    }

    .about-title h2,
    .work-title h2,
    .contact-title h2 {
        margin: 0;
    }

    .about-title,
    .work-title,
    .contact-title {
        display: flex;
        justify-content: center;
        margin-right: 0;
        border: none;
        margin: 10px 0;
        
    }

    .about-section {
        grid-area: about-section;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "about-title"
        "about-text";
    }

    .work-section {
        grid-area: work-section;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "work-title"
        "project-container";
        min-height: 100%;
        
        
    }

    .project-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "main-project main-project"
        "project project"
        "project project";
        gap: 10px;
    }

    .project-title {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main-project .project-title {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project-title h3, p {
        margin: 0 5px;
    }

    .project:hover {
        transform: none
    }

    .contact-section {
        grid-area: contact-section;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 75%;
        grid-template-areas:
        "contact-title"
        "contact-links";
    }    

    .contact-links {
        padding: 0;
    }

    .contact-links a {
        font-size: 0.9rem;
    }

    /* Galaxy Fold media query styles */
    @media only screen and (max-width: 280px) {

        .header-links ul {
            flex-direction: row;
            align-items: flex-start;
        }

        .header-links a {
            margin: 0;
        }

        #main-project .project-title {
            height: 30%;
        }

        .project-title {
            height: 50%;
            justify-content: center;
            align-content: flex-start;
            flex-wrap: wrap;
        }
        
        .project-title h3 {
            margin: 0;
        }
        .project-title h3, p {
            margin: 0px auto;
            font-size: 0.8rem;
            margin-left: 4px;
        }
    }
}


